<section>
    <div class="secao1">
        <div class="container-vortex">
            <h1 class="title">Vortex Games</h1>
            <p class="paragraph">Sua plataforma escolar de jogos. Descubra, explore e compartilhe os melhores jogos em um só lugar.</p>
        
            <div class="botoes">
                <a class="botao1" (click)="scrollToElement('jogos')">Explorar</a>
                <a href="/sobre-nos" class="botao2">Sobre nós</a>
            </div>
        </div>

        <div class="container-imagem">
            <img src="assets/foto-secao1.png" class="imagem-secao1">
            <div class="imagem-info">
                <div class="alunos-quadrado">
                    <h2 class="quantidade-alunos">3</h2>
                    <p class="text-alunos">Alunos</p>
                </div>
                <div class="projeto-quadrado">
                    <h2 class="ano-projeto">2025</h2>
                    <p class="text-projeto">Projeto</p>
                </div>
            </div>
        </div>
    </div>
</section>