<main>
    <form class="recomendacoes-container" action="/home">
        <h2 class="text-title">Olá, {{name}}, quais tipos de jogos você mais curte?</h2>

        <div class="recomendacoes-content">
            <div class="recomendacao">FPS</div>
            <div class="recomendacao">RPG</div>
            <div class="recomendacao">Sobrevivência</div>
            <div class="recomendacao">Aventura</div>
            <div class="recomendacao">Luta</div>
            <div class="recomendacao">Corrida</div>
            <div class="recomendacao">Realidade virtual</div>
            <div class="recomendacao">Terror</div>
            <div class="recomendacao">Quebra-cabeça</div>
            <div class="recomendacao">Esportes</div>
            <div class="recomendacao">Competição</div>
            <div class="recomendacao">Multiplayer</div>
            <div class="recomendacao">Musical</div>
        </div>

        <button type="submit" class="btn-enviar">Salvar preferências</button>
    </form>
</main>