section {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #303030;
    background-color: #121216;
    height: 50px;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    width: 80%;
}

ul {
    display: flex;
    margin: 0;
    gap: 16px;
    list-style: none;
    padding-left: 0;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

a:hover {
    background-color: #C23FD9;
}

@media screen and (max-width: 820px) {
    nav {
        justify-content: center;
        width: 90%;
    }

    ul {
        width: 100%;
        text-wrap: nowrap;
        justify-content: center;
    }
}