<section>
  <div class="voltar-container">
    <a [routerLink]="'/boas-vindas'" class="voltar-button">← Voltar</a>
  </div>

  <div class="cadastro-container">
    <div>
      <h1 class="title">Fazer cadastro</h1>
      <p class="subtitle">Preencha os dados para criar sua conta no Vortex</p>
    </div>

    <div class="form-container">

      <div class="input-container-nome">
        <label for="nome" class="label-nome">Nome</label>
        <input
          type="text"
          id="nome"
          placeholder="Digite seu nome"
          class="input-nome"
          [(ngModel)]="name"
        >
        <p *ngIf="tentouEnviar && name.trim().length < 3" class="erro-texto">
          O nome deve ter pelo menos 3 caracteres.
        </p>
      </div>

      <div class="input-container-usuario">
        <label for="usuario" class="label-usuario">Usuário</label>
        <input
          type="text"
          id="usuario"
          placeholder="Digite seu usuário"
          class="input-usuario"
          [(ngModel)]="username"
        >
        <p *ngIf="tentouEnviar && username.trim().length < 3" class="erro-texto">
          O usuário deve ter pelo menos 3 caracteres.
        </p>
      </div>

      <div class="input-container-senha">
        <label for="senha" class="label-senha">Senha</label>
        <input
          type="password"
          id="senha"
          placeholder="••••••••"
          class="input-senha"
          [(ngModel)]="password"
        >

        <div class="regras-senha" *ngIf="tentouEnviar">
          <p [class.invalido]="password.length < 8">• Pelo menos 8 caracteres</p>
          <p [class.invalido]="!temLetraMaiuscula()">• Pelo menos uma letra maiúscula</p>
          <p [class.invalido]="!temNumero()">• Pelo menos um número</p>
          <p [class.invalido]="!temCaractereEspecial()">• Pelo menos um caractere especial (!&#64;#$...)</p>
        </div>
      </div>

      <button class="botao-entrar" type="submit" (click)="signUp()">Criar conta</button>
    </div>

    <div *ngIf="erroCadastro" class="erro-texto" style="margin-top:8px; text-align:center;">
        {{ erroCadastro }}
    </div>

    <p class="nao-tem-conta-paragraph">
      Já tem uma conta? <a [routerLink]="'/login'" class="navegar-conta-botao">Fazer login</a>
    </p>
  </div>
</section>
