<div>
    <app-header></app-header>
    <app-navbar></app-navbar>
</div>
<section>
    <main>
        <div class="container-titulo">
            <h2 class="titulo-plano">Escolha Seu Plano</h2>
            <p class="paragrafo-plano">Planos flexíveis para jogadores individuais e instituições educacionais</p>
        </div>

        <div class="container-planos">
            <div class="plano1">
                <div class="tag-plano1"><p>Gratuito</p></div>

                <div class="titulo-plano1">
                    <h3>Sem Plano</h3>
                    <h2>R$ 0<span> /mês</span></h2>
                    <p>para quem quer começar a compartilhar jogos</p>
                </div>

                <div class="container-informacoes-plano1">
                    <div class="informacao-plano1">
                        <div class="imagem-check-plano1"><img src="assets/checkLogo.png" alt=""></div>
                        <p>Um jogo a cada 1 mês</p>
                    </div>

                    <div class="informacao-plano1">
                        <div class="imagem-check-plano1"><img src="assets/checkLogo.png" alt=""></div>
                        <p>Perfil personalizado <span class="span-limitado">(limitado)</span></p>
                    </div>

                    <div class="informacao-plano1">
                        <div class="imagem-check-plano1"><img src="assets/checkLogo.png" alt=""></div>
                        <p>Estatísticas do seu jogo <span class="span-limitado">(limitado)</span></p>
                    </div>

                    <div class="informacao-plano1">
                        <div class="imagem-x-plano1"><img src="assets/xLogo.png" alt=""></div>
                        <p>Sem suporte</p>
                    </div>
                </div>

                <div class="botao-atual-plano1">
                    <button>Plano atual</button>
                </div>
            </div>

            <div class="plano2">
                <div class="tag-plano2"><p>Individual</p></div>

                <div class="titulo-plano2">
                    <h2 class="nome-plano2">Plano Individual</h2>
                    <div class="preco-abaixo-plano2">
                        <h3>R$ 49,99</h3>
                        <div class="porcentagem"><p>-40%</p></div>
                    </div>
                    <h2 class="preco-plano2">R$ 29,90<span> /mês</span></h2>
                    <p class="descricao-plano2">Para quem quer dar visibilidade aos seus jogos</p>
                </div>

                <div class="container-informacoes-plano2">
                    <div class="informacao-plano2">
                        <div class="imagem-check-plano2">
                            <img src="assets/checkLogo.png" alt="">
                        </div>
                        <p>Três jogos a cada 1 mês</p>
                    </div>

                    <div class="informacao-plano2">
                        <div class="imagem-check-plano2">
                            <img src="assets/checkLogo.png" alt="">
                        </div>
                        <p>Perfil personalizado</p>
                    </div>

                    <div class="informacao-plano2">
                        <div class="imagem-check-plano2">
                            <img src="assets/checkLogo.png" alt="">
                        </div>
                        <p>Estatísticas do seu jogo</p>
                    </div>

                    <div class="informacao-plano2">
                        <div class="imagem-check-plano2">
                            <img src="assets/checkLogo.png" alt="">
                        </div>
                        <p>Suporte dedicado</p>
                    </div>
                </div>

                <div class="botao-assinar-plano2">
                    <button>Assinar agora</button>
                </div>
            </div>

            <div class="plano3">
                <div class="tag-plano3"><p>Institucional</p></div>

                <div class="titulo-plano3">
                    <div class="nome-plano3">
                        <h2>Plano Educaional</h2>
                        <div class="container-pupular">
                            <p class="popular">Popular</p>
                        </div>
                    </div>

                    <div class="preco-abaixo-plano3">
                        <h3>R$ 499,90</h3>
                        <p class="porcentagem">-40%</p>
                    </div>

                    <h2 class="preco-plano3">R$ 299,90<span> /mês</span></h2>
                    <p class="descricao-plano3">Feito para instituições de ensino</p>
                </div>

                <div class="container-informacoes-plano3">
                    <div class="informacao-plano3">
                        <div class="imagem-check-plano3">
                            <img src="assets/checkLogo.png" alt="">
                        </div>
                        <p><strong>Tudo do plano individual</strong></p>
                    </div>

                    <div class="informacao-plano3">
                        <div class="imagem-check-plano3">
                            <img src="assets/checkLogo.png" alt="">
                        </div>
                        <p>Criar turmas e gerenciar alunos</p>
                    </div>

                    <div class="informacao-plano3">
                        <div class="imagem-check-plano3">
                            <img src="assets/checkLogo.png" alt="">
                        </div>
                        <p>Adicionar jogos sem limite</p>
                    </div>

                    <div class="informacao-plano3">
                        <div class="imagem-check-plano3">
                            <img src="assets/checkLogo.png" alt="">
                        </div>
                        <p>Painel administrativo</p>
                    </div>

                    <div class="informacao-plano3">
                        <div class="imagem-check-plano3">
                            <img src="assets/checkLogo.png" alt="">
                        </div>
                        <p>Suporte prioritário 24h</p>
                    </div>
                </div>

                <div class="botao-assinar-plano3">
                    <button>Assinar plano</button>
                </div>
            </div>
        </div>

        <div class="copyright">
            <p>Dúvidas sobre qual plano escolher? Entre em <a href="/contato" class="contato">contato</a> conosco!</p>
        </div>
    </main>
</section>
<footer>
    <p>© 2025 Projeto Final. Projeto desenvolvido como parte do trabalho escolar. Todos os direitos reservados.</p>
</footer>