* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(135deg, #121418, #16031A)
}

.voltar-container {
    width: 400px;
    margin-bottom: 16px;
}

.voltar-button {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #1C1C21, #121219);
    border: 1px solid #9F07BC;
    border-radius: 16px;
    padding: 2rem;
    max-width: 400px;
    width: 90%;
}

.title {
    color: #9F07BC;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.subtitle {
    color: #B9B9B9;
    margin: 8px 0 16px 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 16px;
}

.label-usuario, .label-senha {
    color: white;
    font-weight: bold;
}

.input-container-nome, .input-container-senha {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.input-senha, .input-usuario {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #9F07BC;
    background-color: #121216;
    outline: none;
    color: white;
    transition: 0.2s;
}

.input-senha:focus, .input-usuario:focus {
    border: 1px solid #C23FD9;
}

.botao-entrar {
    color: white;
    background-color: #C23FD9;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    border: none;
    margin: 8px;
    transition: 0.2s;
}

.botao-entrar:hover {
    background-color: #9F07BC;
    transform: scale(1.01);
}

.nao-tem-conta-paragraph {
    color: #B9B9B9;
    margin-top: 8px;
}

.navegar-conta-botao {
    color: #C23FD9;
    text-decoration: none;
}

.erro-texto {
    color: #ff4d4d;
    font-size: 0.9rem;
}

@media (max-width: 600px) {
    section {
        height: auto; 
        min-height: 100vh;
        padding: 20px 0;
    }

    .voltar-container {
        width: 90%; 
        max-width: 400px;
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .login-container {
        padding: 1.5rem 1rem;
        width: 90%;
    }

    .title {
        font-size: 1.5rem; 
    }

    .subtitle {
        font-size: 0.9rem;
    }

    .botao-entrar {
        font-size: 1rem;
    }

    .nao-tem-conta-paragraph {
        font-size: 0.9rem;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .voltar-container {
        width: 400px;
    }
    
    .login-container {
        max-width: 400px;
    }
}