.categorias-container {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1200px;
}

.categorias-title {
    color: white;
}

.categorias-content {
    margin-top: 2.5rem;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 10px 0;
}

.categorias-content::-webkit-scrollbar {
    scrollbar-width: thin;  
}

.categorias-content::-webkit-scrollbar-thumb {
    background-color: purple;
    border-radius: 20px;
}

.categoria {
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    padding: 20px 70px;
    background: linear-gradient(to left, rgb(114, 1, 114), rgb(231, 1, 231));
    display: inline-block;
    margin-right: 20px;
}

.categoria:hover {
    background: linear-gradient(to right, rgb(158, 1, 158), rgb(231, 1, 231));
}

.categoria a {
    text-decoration: none;
    color: white;
}
