section {
    margin-top: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-categorias {
    display: flex;
    width: 80%;
    flex-direction: column;
}

.title-categoria {
    color: #fff;
    font-weight: bold;
}

.categorias-grid {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
}

.categoria-card {
    background-color: #C23FD9;
    padding: 1.5rem 3rem;
    border-radius: 10px;
    margin: 0;
    cursor: pointer;
    transition: 0.2s;
}

.categoria-card:hover {
    background-color: #83029c;
    transform: scale(1.05);
}

.categoria-name {
    margin: 0;
    color: #fff;
}