<div class="categorias-container" id="categorias">
    <h1 class="categorias-title">Categorias</h1>
    <div class="categorias-content">
        <div class="categoria"><a href="#">FPS</a></div>
        <div class="categoria"><a href="#">RPG</a></div>
        <div class="categoria"><a href="#">Sobrevivência</a></div>
        <div class="categoria"><a href="#">Aventura</a></div>
        <div class="categoria"><a href="#">Luta</a></div>
        <div class="categoria"><a href="#">Corrida</a></div>
        <div class="categoria"><a href="#">Realidade virtual</a></div>
        <div class="categoria"><a href="#">Terror</a></div>
        <div class="categoria"><a href="#">Quebra-cabeça</a></div>
        <div class="categoria"><a href="#">Esportes</a></div>
        <div class="categoria"><a href="#">Competição</a></div>
        <div class="categoria"><a href="#">Multiplayer</a></div>
        <div class="categoria"><a href="#">Musical</a></div>
    </div>
</div>
