<footer>
  <div class="footer-content">
    <div class="footer-infos-content">
      <div class="links-rapidos-content">
        <p class="links-title">Links Rápidos</p>
        <ul class="links-lista">
          <li><a href="#categorias">Categorias</a></li>
          <li><a href="#recomendacoes">Recomendações</a></li>
          <li><a href="#jogos">Jogos</a></li>
        </ul>
      </div>
    
      <div class="membros-content">
        <p class="membros-title">Membros</p>
        <ul class="membros-lista">
          <li>João Paulo</li>
          <li>Thiago Henrique</li>
          <li>Kauan Silva</li>
        </ul>
      </div>
    </div>

    <p class="direitos-autorais">&copy; 2025 Projeto Final. Projeto desenvolvido como parte do trabalho escolar. Todos os direitos reservados.</p>
    <p class="turma">Turma Info 151</p>
  </div>
</footer>
