<footer>
  <div class="container-footer">
    <div>
      <h2>Links Rápidos</h2>
      <ul class="linksRapidos">
        <li><a (click)="scrollToElement('categorias')" class="categorias">Categorias</a></li>
        <li><a (click)="scrollToElement('jogos')" class="jogos">Jogos</a></li>
        <li><a href="/sobre-nos">Sobre Nós</a></li>
        <li><a href="/planos">Planos</a></li>
        <li><a href="/contato">Contato</a></li>
      </ul>
    </div>

    <div>
      <h2>Membros do Projeto</h2>
      <ul class="membros">
        <li>Thiago Henrique</li>
        <li>João Paulo</li>
        <li>Kauan Silva</li>
      </ul>
    </div>
  </div>

  <p class="copyright">© 2025 Projeto Final. Projeto desenvolvido como parte do trabalho escolar. Todos os direitos reservados.</p>
</footer>