footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121216;
    border-top: 2px solid #303030;
    flex-direction: column;
    height: 300px;
}

.container-footer {
    border-bottom: 2px solid #303030;
    justify-content: space-evenly;
    display: flex;
    width: 80%;
}

h2 {
    color: #fff;
    font-weight: bold;
}

ul {
    padding-left: 0;
    color: #fff;
}

.linksRapidos li {
    list-style: none;
    text-decoration: underline;
    transition: 0.2s;
}

.membros li {
    list-style: none;
}

a {
    color: #fff;
    transition: 0.2s;
    cursor: pointer;
}

.categorias, .jogos {
    transition: 0.2s;
}

a:hover, .categorias:hover, .jogos:hover {
    color: #C23FD9;
}

.copyright {
    color: #fff;
    margin-top: 2rem;
}