<div>
    <app-header></app-header>
    <app-navbar></app-navbar>
</div>
<section>
    <main>
        <div class="container-titulo">
            <h2 class="titulo-contato">Entre em contato</h2>
            <p class="paragrafo-contato">Entre em contato para suporte, parcerias ou dúvidas sobre nossos serviços.</p>
        </div>

        <div class="formulario-container">
            <form class="form-contato">
                <div class="container-nome">
                    <label class="label-nome" for="nome">Nome completo</label>
                    <input class="input-nome" type="text" id="nome" name="nome" placeholder="Digite seu nome">
                </div>

                <div class="container-email">
                    <label class="label-email" for="email">E-mail</label>
                    <input class="input-email" type="email" id="email" name="email" placeholder="seu@gmail.com">
                </div>

                <div class="container-select">
                    <label class="label-select" for="mensagem">Assunto</label>
                    <select name="" id="">
                        <option value="">Selecione um assunto</option>
                        <option value="Parcerias">Parcerias</option>
                        <option value="Feedback">Feedback</option>
                        <option value="Planos">Planos</option>
                        <option value="Dúvida">Dúvida</option>
                        <option value="Outros">Outros</option>
                    </select>
                </div>

                <div class="container-textarea">
                    <label class="label-textarea">Mensagem</label>
                    <textarea class="textarea" placeholder="Descreva sua dúvida ou solicitação"></textarea>
                </div>

                <button class="botao-enviar">Enviar mensagem</button>
            </form>
        </div>
    </main>
</section>
<footer>
    <p>© 2025 Projeto Final. Projeto desenvolvido como parte do trabalho escolar. Todos os direitos reservados.</p>
</footer>