<main>
    <div class="recomendacoes-container" id="recomendacoes">
        <h1 class="recomendacoes-title">Recomendações para você</h1>
        <div class="recomendacoes-content">
            <div class="recomendacao"><img src="assets/marvel-rivals.png" alt="" class="image1"></div>
            <div class="recomendacao"><img src="assets/csgo.png" alt="" class="image1"></div>
            <div class="recomendacao"><img src="assets/the-finals.png" alt="" class="image1"></div>
            <div class="recomendacao"><img src="assets/pubg.png" alt="" class="image1"></div>
            <div class="recomendacao"><img src="assets/reddeadredemption2.png" alt="" class="image1"></div>
        </div>
    </div>
</main>