html, .body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #121212;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.main-content {
    background-color: #191821;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 5rem;
    border-radius: 10px;
    padding: 50px;
}

.info-container {
    display: flex;
    gap: 20px;
}

.links-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.semConteudo {
    color: rgb(124, 124, 124);
    margin: 0;
}