<app-header></app-header>
<section>
  <main>
    <div class="voltar-container">
      <a href="/home" class="voltar-botao">← Voltar</a>
    </div>

    <div class="container-jogo-info">
      <img [src]="jogo?.imagem" alt="" class="imagem-jogo">

      <div>
        <h1 class="titulo-jogo">{{jogo?.nome}}</h1>
        <p class="paragrafo-jogo">{{jogo?.descricao}}</p>
      </div>
    </div>

    <div class="container-links">
      <h2 class="titulo-links">Links rápidos</h2>

      <div class="container-link-direcionar" (click)="abrirLink(jogo?.link?.youtube)" [class.link-inativo]="!jogo?.link?.youtube">
        <div class="nome-link">
          <img [src]="jogo?.link?.youtube ? 'assets/YoutubeLogo.png' : 'assets/YoutubeLogo-desativada.png'" alt="">
          <p class="nome-link-direcionador" target="_blank" [class.sem-link]="!temLink()">Gameplay no Youtube</p>
        </div>
        <img src="assets/exportLogo.png" alt="" class="export-logo" [class.link-inativo]="!jogo?.link?.other">
      </div>

      <div class="container-link-direcionar" (click)="abrirLink(jogo?.link?.twitch)" [class.link-inativo]="!jogo?.link?.twitch">
        <div class="nome-link">
          <img [src]="jogo?.link?.twitch ? 'assets/twitchLogo.png' : 'assets/twitchLogo-desativada.png'" alt="">
          <a class="nome-link-direcionador" target="_blank">Gameplay na Twitch</a>
        </div>
        <img src="assets/exportLogo.png" alt="" class="export-logo" [class.link-inativo]="!jogo?.link?.other">
      </div>

      <div class="container-link-direcionar" (click)="abrirLink(jogo?.link?.gameLink)" [class.link-inativo]="!jogo?.link?.gameLink">
        <div class="nome-link">
          <img [src]="jogo?.link?.gameLink ? 'assets/jogoLogo.png' : 'assets/jogoLogo-desativada.png'" alt="">
          <a class="nome-link-direcionador" target="_blank">Jogo oficial</a>
        </div>
        <img src="assets/exportLogo.png" alt="" class="export-logo" [class.link-inativo]="!jogo?.link?.other">
      </div>

      <div class="container-link-direcionar" (click)="abrirLink(jogo?.link?.other)" [class.link-inativo]="!jogo?.link?.other">
        <div class="nome-link">
          <img [src]="jogo?.link?.other ? 'assets/outrosLogo.png' : 'assets/outrosLogo-desativada.png'" alt="">
          <a class="nome-link-direcionador" target="_blank">Outros</a>
        </div>
        <img src="assets/exportLogo.png" alt="" class="export-logo" [class.link-inativo]="!jogo?.link?.other">
      </div>
    </div>
  </main>
</section>
<app-footer></app-footer>

<!-- <div class="body" *ngIf="jogo">
  <div class="page-wrapper">
    <app-header></app-header>

    <main class="main-container">
      <div class="main-content">
        <div class="jogo-infos">

          <div class="info-container">
            <img [src]="jogo.imagem" [alt]="jogo.nome" class="imagem-jogo">
            <div>
              <h2>{{ jogo.nome }}</h2>
              <p>{{ jogo.descricao }}</p>
            </div>
          </div>

          <div class="links-container">
            <div *ngIf="jogo.link.youtube">
              <h3>Link do YouTube</h3>
              <a [href]="jogo.link.youtube" target="_blank">Link do Youtube</a>
            </div>

            <div *ngIf="!jogo.link.twitch">
              <h3>Link da Twitch</h3>
              <p class="semConteudo">Sem conteúdo</p>
            </div>

            <div *ngIf="jogo.link.twitch">
              <h3>Link da Twitch</h3>
              <a [href]="jogo.link.twitch" target="_blank">Link da Twitch</a>
            </div>

            <div *ngIf="jogo.link.gameLink">
              <h3>Link do Jogo</h3>
              <a [href]="jogo.link.gameLink" target="_blank">Link do jogo</a>
            </div>

            <div *ngIf="jogo.link.other">
              <h3>Outros</h3>
              <a [href]="jogo.link.other" target="_blank">Outros links</a>
            </div>

            <div *ngIf="!jogo.link.other">
              <h3>Outros</h3>
              <p class="semConteudo">Sem conteúdo</p>
            </div>

            <div *ngIf="!jogo.link.youtube && !jogo.link.twitch && !jogo.link.gameLink && !jogo.link.other">
              <p class="semConteudo">Sem conteúdo</p>
            </div>
          </div>

        </div>
      </div>
    </main>

    <app-footer></app-footer>
  </div>
</div> -->
