<header>
  <div class="header-container">
    <img routerLink="/home" src="assets/logo.png" alt="" class="logo">
    <div class="search-container">
      <input type="text" placeholder="Pesquise um jogo" class="search-input">
      <img src="assets/lupa.png" alt="" class="search-icon">
    </div>

    <div class="user-info">
      <img src="assets/user-icon-logout.png" alt="" class="user-icon">
      <div class="user-details">
        <span>Olá, {{name}}</span>
        <a href="" class="logout-link">Fazer logout</a>
      </div>
    </div>
  </div>
</header>
  