header {
    width: 100%;
    height: 120px;
    background-color: #121216;
    border-bottom: #3B3B3B 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.header-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    object-fit: contain;
    width: 80px;
    cursor: pointer;
}

.search-container { position: relative; display: flex; align-items: center; background-color: #1C1C21; border: 2px solid #303030; border-radius: 10px; width: 50%; }
.search-input { background: transparent; width: 100%; border: none; outline: none; color: white; padding: 16px; }
.search-icon { margin-right: 16px; cursor: pointer; }
.search-results { position: absolute; top: 100%; left: 0; width: 100%; background-color: #1C1C21; border: 1px solid #303030; border-radius: 0 0 10px 10px; max-height: 250px; overflow-y: auto; z-index: 100; scrollbar-width: thin; scrollbar-color: #C23FD9 #1C1C21; }
.search-results::-webkit-scrollbar { width: 8px; }
.search-results::-webkit-scrollbar-thumb { background-color: #C23FD9; border-radius: 10px; }
.search-results::-webkit-scrollbar-thumb:hover { background-color: #b238c4; }
.search-results::-webkit-scrollbar-track { background-color: #1C1C21; }
.search-item { display: flex; align-items: center; gap: 10px; padding: 10px; cursor: pointer; color: white; text-decoration: none; border-bottom: 1px solid #2A2A2F; }
.search-item:hover { background-color: #2A2A2F; }
.result-img { width: 40px; height: 40px; object-fit: cover; border-radius: 5px; }
.search-text { display: flex; flex-direction: column; }
.jogo-nome { font-weight: 600; }
.jogo-categoria { font-size: 0.85rem; color: #fff; }
.no-results { padding: 10px; color: #B9B9B9; text-align: center; font-style: italic; background-color: #1C1C21; }
.user-info { display: flex; align-items: center; color: white; gap: 16px; }
.user-details { display: flex; flex-direction: column; white-space: nowrap; }
.user-icon { object-fit: contain; width: 20px; }
.logout-link { color: #16A2C5; text-decoration: none; cursor: pointer; }

@media screen and (max-width: 820px) {
    header {
        height: auto;
    }
    
    .header-container {
        width: 90%;
        flex-direction: column; 
        gap: 15px; 
        align-items: flex-start;
        position: relative; 
    }
    
    .logo {
        width: 60px;
        order: 1;
        display: inline-block;
    }

    .user-info {
        order: 2; 
        position: absolute;
        top: 15px; 
        right: 0;
        transform: none; 
        display: flex;
        align-items: center;

        gap: 5px;
    }
    
    .search-container {
        width: 100%;
        order: 3;
    }

    .user-details span, .user-details a {
        display: none;
    }

    .search-input {
        padding: 10px;
        font-size: 0.9rem;
    }

    .search-icon {
        margin-right: 10px;
    }
}