header {
    width: 100%;
    height: 120px;
    background-color: #121216;
    border-bottom: #3B3B3B 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    object-fit: contain;
    width: 80px;
    cursor: pointer;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #1C1C21;
    border: 2px solid #303030;
    border-radius: 10px;
    width: 50%;
}

.search-icon {
    margin-right: 16px;
    cursor: pointer;
}

.search-input {
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    color: white;
    padding: 16px;
}

.user-info {
    display: flex;
    align-items: center;
    color: white;
    gap: 16px;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.user-icon {
    object-fit: contain;
    width: 20px;
}

.logout-link {
    color: #16A2C5;
    text-decoration: none;
}